.main {
    color: #ffe1e1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c60000+0,720404+100 */
    background: #c60000; /* Old browsers */
    background: linear-gradient(135deg, #c60000 0%,#840303ba 100%), url('../img/bg.png'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: contain;
}

.main .row {
    margin: 40px 0;
}

h1.ui.header, 
h2.ui.header, 
h3.ui.header, 
h4.ui.header, 
h5.ui.header, 
h6.ui.header {
    color: white;
}

.bg-icon-box {
    height: auto;
    fill: currentColor;
    fill-opacity: 0.95;
}